// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

#button {
  background: #8E9AAF;
  color: white;
  padding: 10px;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid #8E9AAF;
  font-size: 14px;
}

#button:hover {
  background: #C8B6D6;
  border-color: #C8B6D6 #C8B6D6 #C8B6D6 #A797B2;
}

#button:focus {
  outline: none;
}

#question-input {
  padding: 10px;
  margin-right: -6px;
  border-radius: 3px;
  border: 1px solid #8E9AAF;
  font-size: 14px;
  width: 190px;
}

#question-input:hover {
  border-color: #C8B6D6
}

#question-input:focus {
  outline: none;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-family: 'Noto Sans', sans-serif;
}


.container {
  display: flex;
  padding: 20px;
  justify-content: center;
}

#question-container {
  border-left: 6px solid #8E9AAF;
  padding: 5px 15px;
}

#answer-container {
  border-left: 6px solid #8E9AAF;
  padding: 5px 15px;
  background: #DEE2FF;
}

a {
  text-decoration: none;
  color: #8E9AAF;
}
